<!--

Если вы запустите этот код, вы должны увидеть результат: You are an admin user! Если вы обновите main.go,
не включив в него объект *User, либо установите для Admin значение false, или
даже если вы предоставите nil для метода testTemplate.Execute(), вы увидите вместо этого Access denied!.

Функция and принимает два аргумента, позволяет вызывать их, а затем выполняет логику, примерно эквивалентную, if a then b else a.
Самое странное, что это действительно функция, а не то, что вы помещаете между двумя переменными.
Просто помните, что это функция, а не логическая операция, и все должно быть в порядке.

Аналогично, пакет шаблона также предоставляет функцию or, которая работает во многом так же как and,
за исключением того, что она будет иметь короткое замыкание, когда ее значение true.
То есть логика для or a b примерно эквивалентна, if a then a else b, поэтому b никогда не будет оцениваться, 
если a не пусто.

-->


{{if and .User .User.Admin}}
  You are an admin user!
{{else}}
  Access denied!
{{end}}