{{define "card_empty"}}
				<div hx-get="/card-modal" hx-target="#card-modal" hx-swap="outerHTML" 
					data-modal-target="default-modal" data-modal-toggle="default-modal" 
					type="button" 
					class="relative flex flex-col items-start p-3 mb-2 bg-white rounded-lg cursor-pointer bg-opacity-90 group hover:bg-opacity-100" 
					draggable="true">			

					<div class="flex items-center w-full text-xs font-medium text-gray-400">
					
						<div class="flex items-center">
							<svg class="w-4 h-4 text-gray-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
							</svg>
						<span class="ml-1 leading-none">{{ .Time }}</span>
						</div>
					
{{/*
						<div class="ml-auto">
							<span class="mr-2 leading-none">Добавить</span>
						</div>

						<button class="text-indigo-300 bg-indigo-100 w-4 h-4 rounded">
							<svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
							</svg>
						</button>
*/}}

						</div>				

				</div>
{{end}}
