<!-- 
Функции сравнения (равно, меньше и т.д.)
До сих пор мы имели дело с относительно простой логикой, вращающейся вокруг того, является ли что-то пустым или нет,
но что происходит, когда нам нужно сделать другие сравнения?
Например, что если мы захотим настроить класс на объекте в зависимости от того, приближается ли пользователь
к превышению своего предела использования?

Пакет html/template предоставляет нам несколько классов для сравнения.

eq - Аналогичен  arg1 == arg2
ne - Аналогичен  arg1 != arg2
lt - Аналогичен  arg1  < arg2
le - Аналогичен  arg1 <= arg2
gt - Аналогичен  arg1  > arg2
ge - Аналогичен  arg1 >= arg2

Они используются аналогично тому, как используются and или or, когда вы сначала вводите функцию, а затем вводите аргументы.
Например, вы можете использовать следующий код в своем шаблоне, чтобы определить,
какой текст рендерить в отношении их использования API.
-->


{{if (ge .Usage .Limit)}}
  <p class="danger">
    Вы исчерпали весь лимит по использованию API. Обновите ваш тариф либо обратитесь в техподдержку
  </p>
{{else if (gt .Usage .Warning)}}
  <p class="warning">
    Вы использовали {{.Usage}} из {{.Limit}} API вызовов и близки к исчерпанию лимита.
  </p>
{{else if (eq .Usage 0)}}
  <p>
    Вы до сих не использовали API. 
  </p>
{{else}}
  <p>
    Вы использовали {{.Usage}} из {{.Limit}} API вызовов.
  </p>
{{end}}